<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<div class="container">
<%- include partials/navigation.ejs %>
</div>

<form action="/admin/product" method="post">
  <fieldset>
    <legend>Product information:</legend>
    Product name:<br>
    <input type="text" name="name" value="">
    <br>

    Category:<br>
    <input type="text" name="category" value="">
    <br>

    MRP:<br>
    <input type="text" name="MRP" value="">
    <br>

    Seller:<br>
    <input type="text" name="seller" value="">
    <br>

    Description:<br>
    <input type="text" name="description" value="">
    <br>

    Average customer rating:<br>
    <input type="text" name="rating" value="">
    <br>

    Expected delivery date:<br>
    <input type="text" name="deliverydate" value="">
    <br>



    <br><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>

</body>
</html>
